body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: none;
	min-width: 320px;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: black;
 
 

}


#myVideo {
	background-image: url(10001.jpg) no-repeat fixed center;
	background-size: cover; 
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center ;

}

@media (max-width:  750px) {
	#myVideo {display:none;}
	body {
		background: url(10001.jpg) no-repeat fixed center;
		background-size: cover;
	}
}


.menu {
	position: absolute;
	z-index: 10;
	margin: 0; 
    color:transparent;
}
#titre {
	position: fixed;
	font-size: 4vmax;
	top: 7vmin;
	left: 5vmin;
	line-height: 0.9;
	text-align: left;
	font-family: trajan pro, serif; 
  font-style: normal;
  font-weight: 100;
  color: whitesmoke; 
  text-shadow:inset 0px 0px 5px 5px #ffffff;

   }
#titre span {
text-indent: 0.5em ;
font-size: 2vmin; 
font-weight: 100;
line-height: 2;
word-spacing: 0.2vw;
left: 3%;




}
#def {
	position: fixed;
  font-size: 50%;   
  top: 35%;
  left: 4.8%;
  text-align: right;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #e6f2ff ;


}
#Portfolio {
	text-align: center;
	line-height: 1.4;
	word-spacing: 2vw;
	position: fixed;
	font-size: 3vmax;
	top: 11vmin;
	right: 8vw;
	font-family: Lucida Console, serif;
  font-style: normal;
  font-weight: 300;
	color:silver;
	text-shadow: 0px 0px 0px silver;, 0px 0px 2px #00e6e6;



	 

}
#Contact {
	position: fixed;
	font-size: 4vmax;
	bottom: 3vmin;
	left: 5vmin;
	font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
	color:transparent;
	text-shadow: 0px 0px 0px #00e6e6, 0px 0px 2px #ffe6b3;
}

#liens {

  position: absolute;
  left: 50%;
  bottom: 1px;
  transform: translate(-50%, -10%);
  margin: 0 auto;
  word-spacing: 15vw;
  white-space:nowrap;

  font-size: 5vmin;
  text-shadow: 0px 0px 0px #00e6e6, 0px 0px 2px #ffe6b3;
}

a.lien1:link {
text-decoration: none;
cursor:pointer;
color: transparent;

}
a.lien1:visited{
	color: white;
}
a.lien1:hover{
	color:white;
}
