body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: none;
	min-width: 320px;
}
* {
  box-sizing: border-box;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

}

.menu {
	position: absolute;
	z-index: 10;
	margin: 0;
	top: 20px;
	left: 40px; 
    color:transparent;
}
#titre {
	position: absolute;
	font-size: 7vw;
	top: 1.6vw;
	left: 1.6vw;
	text-align: center;
	font-family: 'Poppins', sans-serif;
    color: #e6f2ff;    	
}
#Portfolio {
	position: fixed;
	font-size: 5vw;
	top: 25%;
	left: 73%;
	font-family: 'Poppins', sans-serif;
	color:transparent;
	text-shadow: 0px 0px 2px #66c2ff, -2px -2px 6px #ffe6b3;
	 

}
#Contact {
	position: fixed;
	font-size: 5vw;
	top: 75%;
	left: 15%;
	font-family: 'Poppins', sans-serif;
	color: white;
	text-shadow: 0px 0px 2px #66c2ff, -2px -2px 6px #ffe6b3;
}

#insta {
  position: fixed;
  left: 82%;
  top: 75%;
  font-size: 5vw;
  text-shadow: 0px 0px 2px #66c2ff, -2px -2px 6px #ffe6b3;
  

}

a.lien1:link {
text-decoration: none;
cursor:pointer;
color: transparent;

}
a.lien1:visited{
	color: white;
}
a.lien1:hover{
	color:white;
}
