body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: none;
}
#video {
  position: fixed;
  right: 0;
  bottom: -65px;
  min-width: 100%;
  min-height: 100%;
  object-position: center
}
.menu {
	position: absolute;
	z-index: 10;
	margin: 0;
	top: 20px;
	left: 40px;
	font-size: 40px; 
    text-shadow: 1px 1px 4px #cce6ff, -1px -1px 4px #ffe6b3;
}
#titre {
	position: absolute;
	font-size: 85px;
	top: 20px;
	left: 20px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 1px 1px 4px #cce6ff, -1px -1px 4px #ffe6b3
    	
}
#Portfolio {
	position: fixed;
	font-size: 60px;
	top: 160px;
	left: 895px;
	font-family: 'Poppins', sans-serif;
	color: white ;

}
#Contact {
	position: fixed;
	font-size: 55px;
	top: 430px;
	left: 195px;
	font-family: 'Poppins', sans-serif;
	color: white;
}

#insta {
  position: fixed;
  left: 1090px;
  top: 445px;
  font-size: 54px;
  text-shadow: 1px 1px 4px #cce6ff, -1px -1px 4px #ffe6b3;

}

a.lien1:link {
text-decoration: none;
cursor:pointer;
color: transparent;

}
a.lien1:visited{
	color: white;
}
a.lien1:hover{
	color:white;
}
